<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= humanized_money_with_symbol @product.price %></dd>
          <dt>Average rating</dt>
          <dd><%= @avg_rating%></dd>
        </dl>
      </div>
    </div>
    <br>
    <div class="row">
     <div class="col-sm-4">
     </div>
      <div class="col-sm-8">
        <h3>Reviews</h3>
        <br>

        <% if !current_user.nil?%>
          <%= form_for [@product, Review.new] do |f| %>
            <div class="form-row align-items-center">
                <div class="col-auto">
                  <%= f.label :rating, class: 'form-label'%>
                  <%= f.select :rating, [1,2,3,4,5], {include_blank: true}, class: 'custom-select mr-2' %>
                </div>
                <div class="col-auto">
                  <%= f.label :description, class: 'form-label'%>
                  <%= f.text_area :description, class: 'form-control mb-2'%>
                </div>
            </div>
            <br>
            <%= f.submit 'Post Review', class: 'btn btn-primary' %>
          <% end %>
      <% end %>

        <br>
        <dl class="dl-horizontal">
          <% @product.reviews.reverse.each do |review| %>
            <%= render 'review', review: review %>
          <% end %>
        </dl>
      </div>
    </div>
    

  </article>

</section>
